*.asv
*.docx
**\runs\
**/runs/
*.db
*.db
*.gif
*.mp4
**\data\
**/data/
**\glow\
**/glow/
**\glow_legacy\
**/glow_legacy/
**\asispectralinversion\
**/asispectralinversion/
**\asispectralinversion_fork\
**/asispectralinversion_fork/
**/old/
**\old\
